#divOperacion-frm-Sewing{
    width: 600px;
    margin: auto;
    background-color: white;
}

#divOperacion-frm-Sewing-registros{
    width: 600px;
    margin: auto;
    background-color: white;
}

#tabla-Sewing{
    max-height: 600px;
}