

	<div class="row">
		<div class="col-12">
			<div class="button-row text-center">
				<button type="button" [disabled]="this.Editar" class="btn btn-outline-primary" (click)="Nuevo()"><fa-icon [icon]="['fas', 'plus']" class="fa-lg"></fa-icon> New</button>
				<button type="button"  class="btn btn-outline-success" (click)="Exportar()"><fa-icon [icon]="['fas', 'file-excel']" class="fa-lg" style="color:green"></fa-icon> Exportar</button>
				<button type="button" [disabled]="val.ValForm.invalid || !this.Editar"  class="btn btn-outline-success"  (click)="Guardar()" ><fa-icon [icon]="['fas', 'save']" class="fa-lg"></fa-icon> Save</button>
				<button type="button"  class="btn btn-outline-secondary" (click)="Limpiar()"><fa-icon [icon]="['fas', 'broom']" class="fa-lg"></fa-icon> Cancel</button>
			</div>
		</div>
	</div>

	<div class="row col-12" id="from-method-analisys">
		<div class="col-sm-12 col-md-4 col-lg-4">
			<div class="franja"><p>CODIGO #{{str_Codigo}}</p></div>
            
			<div class="mat-elevation-z8" Id="tabla-parametros-method-analisys">

                <form class="form"  [formGroup]="val.ValForm" novalidate>
				<table mat-table [dataSource]="dataSource_parametros_method_analisys">


					<ng-container matColumnDef="Index">
						<th mat-header-cell *matHeaderCellDef> No. </th>
						<td mat-cell *matCellDef="let element; let j = index" style="color:#1b364c; font-weight: bold;"> {{j+1}} </td>
					</ng-container>

					
					<ng-container matColumnDef="Parametro">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let element"> {{element.Parametro}} </td>
					</ng-container>

					<ng-container matColumnDef="Valor">
						<th mat-header-cell *matHeaderCellDef></th>

						<td mat-cell *matCellDef="let element; let i = index">

							<mat-form-field floatLabel="never" *ngIf="element.Index != 3 && element.Index != 8">
								<input matInput formControlName="{{'txt_method_analisys_parametro' + (i+1)}}"   [value]="element.Valor" [(ngModel)]="element.Valor" [ngStyle]="{'color':element.Index == 1 ? 'blue' : 'black'}"
								(input)="txt_method_analisys_onSearchChange($event)"
								[disabled]="element.Index == 1">
							</mat-form-field>



							<mat-form-field floatLabel="never" class="col-method-analisys-maquina" *ngIf="element.Index == 3">
								<input matInput type="text" id="txt_method_analisys_Maquina" formControlName="txt_method_analisys_Maquina" [matAutocomplete]="auto" (input)="txt_method_analisys_Maquina_onSearchChange($event)" 
								(focusout)="txt_method_analisys_Maquina_onFocusOutEvent($event)" class="col-method-analisys-maquina">
								<mat-autocomplete #auto="matAutocomplete" [displayWith]="MostrarSelec">
									<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
										{{option.Name}}
									</mat-option>
								</mat-autocomplete>

								<mat-icon matSuffix>
									<fa-icon [icon]="['fas', 'search']" class="fa-lg"></fa-icon>
								</mat-icon>
								<mat-error *ngIf="val.ValForm.get('txt_method_analisys_Maquina')?.errors?.Regla=='1'">It is <strong>required</strong></mat-error>

							</mat-form-field>

							
							<mat-form-field floatLabel="never" class="col-method-analisys-maquina" *ngIf="element.Index == 8">
								<input matInput type="text" id="txt_method_analisys_Tela" formControlName="txt_method_analisys_Tela" [matAutocomplete]="auto" (input)="txt_method_analisys_Tela_onSearchChange($event)" 
								(focusout)="txt_method_analisys_Tela_onFocusOutEvent($event)"  class="col-method-analisys-maquina">
								<mat-autocomplete #auto="matAutocomplete" [displayWith]="MostrarSelecTela">
									<mat-option *ngFor="let option of filteredOptionsTela | async" [value]="option">
										{{option.Nombre}}
									</mat-option>
								</mat-autocomplete>

								<mat-icon matSuffix>
									<fa-icon [icon]="['fas', 'search']" class="fa-lg"></fa-icon>
								</mat-icon>
								<mat-error *ngIf="val.ValForm.get('txt_method_analisys_Tela')?.errors?.Regla=='1'">It is <strong>required</strong></mat-error>

							</mat-form-field>




						</td>
					</ng-container>

					
					<ng-container matColumnDef="Requerido">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let element"><b style="color: red;">{{element.Requerido}} </b></td>
					</ng-container>




					<tr mat-header-row *matHeaderRowDef="displayedColumns_parametros_method_analisys"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns_parametros_method_analisys;"></tr>

				</table>
            </form>
			
			</div>
			<p><b>Campos marcados con (<b style="color: red;">*</b>) son requeridos.</b></p>
		</div>

		<div class="col-sm-12 col-md-8 col-lg-8">

			<div class="container">
                <form class="form"  [formGroup]="val.ValForm" novalidate>
                    <div class="row">

                        <div class="col-sm-12 col-md-4 col-md-6">
                            <mat-form-field>
                                <mat-label>FIND</mat-label>
                                <input matInput (keyup)="filtrar($event)" placeholder="Find">
                            </mat-form-field>
                        </div>
    
                        
                            <div class="col-sm-12 col-md-4 col-md-6">
                                <div class="button-row text-end">
                                    <button [disabled]="val.ValForm.invalid" type="button" class="btn btn-outline-secondary" (click)="AgregarFila()"><b>NEW FILE</b> <fa-icon [icon]="['fas', 'plus']" class="fa-2x"></fa-icon></button>
                                </div>
                            </div>
                     
                        
    
    
                    </div>
                </form>
				
			</div>


			<div class="mat-elevation-z8" Id="tabla-method-analisys">


				<table mat-table [dataSource]="dataSource_method_analisys">


					<ng-container matColumnDef="IdDetMethodAnalysis">
						<th mat-header-cell *matHeaderCellDef> No. </th>
						<td mat-cell *matCellDef="let element; let j = index" style="color:#1b364c; font-weight: bold;"> <b *ngIf="!element.EsTotal">{{j+1}} </b></td>
					</ng-container>


					<ng-container matColumnDef="Codigo1">
						<th mat-header-cell *matHeaderCellDef><b>Codigos.</b></th>
						<td mat-cell *matCellDef="let element" class="col-method-analisys-codigo">
							<mat-form-field floatLabel="never" class="col-method-analisys-codigo" *ngIf="!element.EsTotal">
								<input contenteditable="true" (keydown.enter)="cellChanged(element, 'Codigo1')" (keydown)="onKeyEnter($event, element, 'Codigo1')" matInput placeholder="" [value]="element.Codigo1" [(ngModel)]="element.Codigo1">
							</mat-form-field>
						</td>
					</ng-container>

					<ng-container matColumnDef="Codigo2">
						<th mat-header-cell *matHeaderCellDef class="myHeader"></th>
						<td mat-cell *matCellDef="let element" class="col-method-analisys-codigo">
							<mat-form-field floatLabel="never" class="col-method-analisys-codigo" *ngIf="!element.EsTotal">
								<input contenteditable="true" (keydown.enter)="cellChanged(element, 'Codigo2')" (keydown)="onKeyEnter($event, element, 'Codigo2')" matInput placeholder="" [value]="element.Codigo2" [(ngModel)]="element.Codigo2">
							</mat-form-field>
						</td>
					</ng-container>

					<ng-container matColumnDef="Codigo3">
						<th mat-header-cell *matHeaderCellDef class="myHeader"></th>
						<td mat-cell *matCellDef="let element" class="col-method-analisys-codigo">
							<mat-form-field floatLabel="never" class="col-method-analisys-codigo" *ngIf="!element.EsTotal">
								<input contenteditable="true" (keydown.enter)="cellChanged(element, 'Codigo3')" (keydown)="onKeyEnter($event, element, 'Codigo3')" matInput placeholder="" [value]="element.Codigo3" [(ngModel)]="element.Codigo3">
							</mat-form-field>
						</td>
					</ng-container>

					<ng-container matColumnDef="Codigo4">
						<th mat-header-cell *matHeaderCellDef class="myHeader"></th>
						<td mat-cell *matCellDef="let element" class="col-method-analisys-codigo">
							<mat-form-field floatLabel="never" class="col-method-analisys-codigo" *ngIf="!element.EsTotal">
								<input contenteditable="true" (keydown.enter)="cellChanged(element, 'Codigo4')" (keydown)="onKeyEnter($event, element, 'Codigo4')" matInput placeholder="" [value]="element.Codigo4" [(ngModel)]="element.Codigo4">
							</mat-form-field>
						</td>
					</ng-container>

					<ng-container matColumnDef="Descripcion">
						<th mat-header-cell *matHeaderCellDef class="myHeader"><b>Descripcion de Elementos.</b></th>
						<td mat-cell *matCellDef="let element" class="col-method-analisys-descripcion" >
							<mat-form-field floatLabel="never"  class="col-method-analisys-descripcion" *ngIf="!element.EsTotal">
								<input matInput (keydown.enter)="cellChanged(element, 'Descripcion')" [value]="element.Descripcion" [(ngModel)]="element.Descripcion">
							</mat-form-field>
							<b *ngIf="element.EsTotal"> {{element.Descripcion}} </b>
						</td>
						
					</ng-container>

					<ng-container matColumnDef="Freq">
						<th mat-header-cell *matHeaderCellDef class="myHeader"><b>Freq.</b></th>
						<td mat-cell *matCellDef="let element" class="col-method-analisys-num">
							<mat-form-field floatLabel="never"  class="col-method-analisys-num" *ngIf="!element.EsTotal">
								<input matInput (keydown.enter)="cellChanged(element, 'Freq')" (keydown)="onKeyEnter($event, element, 'Freq')" [value]="element.Freq" [(ngModel)]="element.Freq">
							</mat-form-field>
						</td>
					</ng-container>


					<ng-container matColumnDef="Tmus">
						<th mat-header-cell *matHeaderCellDef class="myHeader2"><b>Tmu's.</b></th>
						<td [ngStyle]="{'font-weight':element.EsTotal ? 'bold' : 'normal'}" mat-cell *matCellDef="let element" class="col-method-analisys-resultado"> {{element.Tmus | number : '1.2-2'}} </td>
					</ng-container>

					<ng-container matColumnDef="Sec" class="myHeader2">
						<th mat-header-cell *matHeaderCellDef class="myHeader"><b>Sec.</b></th>
						<td [ngStyle]="{'font-weight':element.EsTotal ? 'bold' : 'normal'}" mat-cell *matCellDef="let element" class="col-method-analisys-resultado"> {{element.Sec | number : '1.2-2'}} </td>
					</ng-container>

					<ng-container matColumnDef="Sam" class="myHeader2">
						<th mat-header-cell *matHeaderCellDef><b>SAM</b></th>
						<td [ngStyle]="{'font-weight':element.EsTotal ? 'bold' : 'normal'}" mat-cell *matCellDef="let element" class="col-method-analisys-resultado"> {{element.Sam | number : '1.4-4'}} </td>
					</ng-container>

					<ng-container matColumnDef="Eliminar">

						<th mat-header-cell *matHeaderCellDef>
						</th>
						<td mat-cell *matCellDef="let element" >
							<a href="#" (click)="clickRow(element)" *ngIf="!element.EsTotal">
								<fa-icon [icon]="['fas', 'trash-alt']" class="fa-2x" style="color:red"></fa-icon>
							</a>
						</td>
					</ng-container>



					<tr mat-header-row *matHeaderRowDef="displayedColumns_method_analisys"></tr>
					<tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns_method_analisys;"></tr>


				</table>

			</div>

		</div>
	</div>

