#tabla-operation-matrix-data{
    max-height: 600px;
}


:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}


.mat-header-cell{
    color: #1C394F;
    font-weight: bold;
}




tr td{
    flex: 0 0 25% !important;
    min-width: 150px !important;
    text-align: center;
}

.mat-column-Operacion  {
    flex: 0 0 25% !important;
    min-width: 300px !important;
}





